.booth-container {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.booth-container i{
    font-size: 24px;
}

.booth-container .icon{
    font-size: 14px;
}

@media(max-width: 768px){
    .booth-container i{
        font-size: 12px;
    }
}

@media(max-width: 540px){
    .booth-container i{
        font-size: 7px;
    }
}

@media(max-width: 400px){
    .booth-container i{
        font-size: 6px;
    }
}

.booth-container .booth-img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.booth-container .object-img {
    width: 6%;
    height: 16%;
    position: absolute;
    bottom: 23%;
    right: 20.3%;
}

.booth-container .object-img2 {
    width: 6%;
    height: 16%;
    position: absolute;
    bottom: 33%;
    right: 10.3%;
    transform: perspective(100px) skew(0deg, 30deg) rotate(0deg);
}

.booth-container .object-img3 {
    width: 6%;
    height: 6%;
    position: absolute;
    top: 35%;
    left: 10.3%;
    transform: perspective(100px) skew(-9deg, -11deg) rotate(88deg);
    background-color: red;
}

/* brochure pulse */
.point-brochure {
    width: 43px;
    height: 43px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #245b88;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 34%;
    left: 18.5%;
    z-index: auto;
    animation: pulse 2s ease-out infinite;
}

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 #245b88;
    }
    70%{
        box-shadow: 0 0 0 5px #61afee;
    }
    100%{
        box-shadow: 0 0 0 0 #245b88;
    }
}

/* kmt*/
.rotate-kmt{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a43d3b;
    position: absolute;
    top: 21.15%;
    left: 40.65%;
    z-index: auto;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    transform-style: preserve-3d;
    animation:spin 4s linear infinite;
}

.point-kmt {
    width: 43px;
    height: 43px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #a43d3b;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:spin2 4s linear infinite;
}

/* jigs tools */
.rotate-jigs{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted #245b88;
    position: absolute;
    top: 21%;
    right: 18%;
    z-index: auto;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    transform-style: preserve-3d;
    animation:spin 4s linear infinite;
}

.point-jigs-tools {
    width: 43px;
    height: 43px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #245b88;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:spin2 4s linear infinite;
}

/* tv */
.rotate-tv{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted #245b88;
    position: absolute;
    bottom: 45.15%;
    right: 41.75%;
    z-index: auto;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    transform-style: preserve-3d;
    animation:spin 4s linear infinite;
}

.point-tv {
    width: 43px;
    height: 43px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #245b88;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:spin2 4s linear infinite;
}

/* video */
.rotate-video{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted #245b88;
    position: absolute;
    top: 36%;
    left: 41%;
    z-index: auto;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    transform-style: preserve-3d;
    animation:spin 4s linear infinite;
}

.point-video {
    width: 43px;
    height: 43px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #245b88;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:spin2 4s linear infinite;
}

/* video-bottom */
.rotate-video-bottom{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted #245b88;
    position: absolute;
    bottom: 45.5%;
    left: 41%;
    z-index: auto;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    transform-style: preserve-3d;
    animation:spin 4s linear infinite;
}

.point-video-bottom {
    width: 43px;
    height: 43px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #245b88;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:spin2 4s linear infinite;
}

/* banner */
.rotate-banner{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted #245b88;
    position: absolute;
    top: 38.5%;
    left: 25%;
    z-index: auto;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    transform-style: preserve-3d;
    animation:spin 4s linear infinite;
}

.point-banner {
    width: 43px;
    height: 43px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #245b88;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:spin2 4s linear infinite;
}

/* parent animation */
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* stopping child to inherit parents animation */
@-moz-keyframes spin2 { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin2 { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

@media(max-width: 768px) {

    .point-brochure,
    .point-banner,
    .point-video-bottom,
    .point-video,
    .point-tv,
    .point-kmt,
    .point-jigs-tools {
        width: 25px;
        height: 25px;
    }

    .rotate-banner,.rotate-video-bottom,.rotate-video,.rotate-tv,.rotate-kmt,.rotate-jigs{
        width: 35px;
        height: 35px;
    }
}

@media(max-width: 540px) {

    .point-brochure,
    .point-banner,
    .point-video-bottom,
    .point-video,
    .point-tv,
    .point-stand,
    .point-kmt,
    .point-jigs-tools {
        width: 20px;
        height: 20px;
    }

    .rotate-banner,.rotate-video-bottom,.rotate-video,.rotate-tv,.rotate-kmt,.rotate-jigs{
        width: 30px;
        height: 30px;
    }

}

@media(max-width: 400px) {

    .point-brochure,
    .point-banner,
    .point-video-bottom,
    .point-video,
    .point-tv,
    .point-stand,
    .point-kmt,
    .point-jigs-tools {
        width: 15px;
        height: 15px;
    }

    .rotate-banner,.rotate-video-bottom,.rotate-video,.rotate-tv,.rotate-kmt,.rotate-jigs{
        width: 25px;
        height: 25px;
    }

}

.bottom-btns-div{
    position: absolute;
    bottom: 130px;
    right: 70px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 768px){
    .bottom-btns-div{
        position: fixed;
        bottom: 15px;
        right: 8px;
    }
}

.list-btn{
    width: 130px;
    height: 35px;
    background-color: #e51c23;
    border: hidden;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 4px;
    padding-top: 4px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.4);
    margin-right: 5px;
    text-align: center;
}

.list-btn:focus{
    background-color: #4caf50;;
}

.search-btn{
    width: 170px !important;
    height: 35px;
    background-color: #e51c23;
    border: hidden;
    outline: none;
    width: auto;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
    padding-top: 4px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.4);
    margin-left: 5px;
    text-align: center;
}

.search-btn:focus{
    background-color: #4caf50;
}

.search-text{
    margin-left: 8px;
}

@media(max-width: 768px){
    .search-btn, .list-btn{
        bottom: 7px;
    }
}

.home-back-div{
    position: absolute;
    top: 20px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 768px){
    .home-back-div{
        position: fixed;
        top: 15px;
        left: 8px;
    }
}

.home-back-div button{
    border: hidden;
    outline: none;
    cursor: pointer;
    margin: 7px;
    background-color: rgba(0,0,0,0.65);
    width: 45px;
    height: 45px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 7px;
}

.home-back-div button:hover{
    background-color: #e4e4e4;
    opacity: 0.8;
}

.maximize-div{
    width: 120px;
    height: 40px;
    position: absolute;
    top: 30px;
    right: 20px;
    background-color: #004a84;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
    padding-bottom: 4px;
}

@media(max-width: 768px){
    .maximize-div{
        position: fixed;
        top: 25px;
        right: 8px;
    }
}

.maximize-div .text-maximize{
    margin-left: 5px;
    margin-top: 5px;
}

.maximize-div:hover{
    background-color: #2196f3;
}